<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
	
	div#container {
	   width: 80%;
	   margin: 3% auto;
	}
	
	table, th, td {
		border: solid 1px gray;
		border-collapse: collapse;
	}
</style>

</head>
<body>

   <div id="container">
   <!--/* <h2 style="color: pink">❤️💕인혜의 곡명리스트💕❤️(jenkinsfile 사용)</h2> */-->
   <!--/* <h2 style="color: green">❤️💕인혜의 곡명리스트💕❤️(docker compose 사용)</h2> */-->
	<!--/* <h2 style="color: red">곡명리스트(git Action 사용)</h2> */-->	   
	<!--/* <h2 style="color: red">곡명리스트(docker run 사용)</h2> */-->
	<!--/* <h2 style="color: green">곡명리스트(Jenkinsfile 사용)</h2> */-->
	<h2 style="color: orange">❤️💕인혜의 곡명리스트!!💕❤️(docker run 사용)</h2>
	
	   <div>
	      <table>
	         <tr>
	            <th width="6%">번호</th>
	            <th width="14%">포스터</th>
	            <th width="40%">곡명</th>
	            <th width="40%">가수</th>
	         </tr>
	         <tr th:each="GenieMusicDTO, status : ${musicList}">
				<td th:text="${status.count}" align="center"></td>
				<td align="center">
				   <img th:src="${GenieMusicDTO.poster}" />
				</td>
				<td th:text="${GenieMusicDTO.title}"></td>
				<td th:text="${GenieMusicDTO.singer}"></td>
			</tr>
	         
	      </table>
	   </div>
   </div>
</body>
</html>
